body {
    margin: 0;
}


.altLista {
    font-style: italic;
    font-size: 17px;
}

#grid {
    height: 100vh;
}
#left {
    background-color: darkgrey
}
#right {
    background: whitesmoke;
    border: 3rem solid rgb(59, 61, 75);
}

#grid {
    display: grid;
    grid-template-columns: 48px auto;
    transition: 300ms;
}

#grid:has(#left:hover) {
    grid-template-columns: 12% auto;
}

#header-Name {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position:relative;
    right: 500px;
    font-size: 18px;
    font-style: italic;
}

#imgMe {
    border-radius: 30% 10%;
    padding: 10px;
}
#header-Img {    
    border-radius: 25%;
}

#apres {
    text-align: center;
    width: 500px;
    font-family: monospace;
    font-weight: 30px;
    position:relative;
    bottom: 195px; 
    left: 250px;
    padding: 8px;
    
}

/* .grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;   
    padding: 10px;
    color: white;
    margin: 0;
}

.grid-item {
    background-color: black;
    border: 1px solid red;
    padding: 20px;
    font-size: 30px;
    text-align: center;
} */